.card-header {
  padding: 2rem;
  background-color: var(--color-purple);
  font-size: 1rem;
  text-align: center;
}

.card-header__title {
  color: var(--color-white);
}

.card-info {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  flex-direction: column;
  padding-bottom: 5rem;
}

.card-docs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  border: 0.5rem dotted;
  color: var(--color-purple);
}

.card-docs p{
  text-align: justify;
  font-size: 1.5rem;
  color: var(--color-black);
  margin: 1.2rem;
}

.card-docs__text p {
  margin: 1rem;
}

.card-info-part1__text,
.card-info-part2__text{
  text-align: center;
  font-size: 1.5rem;
  padding: 4rem 0 4rem 0;
}

.card-info-part1__text span,
.card-info-part2__text span{
  color: var(--color-purple);
  font-weight: bold;
}

.card-info-part1__text p,
.card-info-part2__text p {
  width: 50%;
  margin: 0 auto;
  padding: 0.3rem;
  text-align: left;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 0 auto;
  padding: 1rem 0 4rem 0;
}

.card-img img {
    width: 80%;
}

.card-part {
  text-align: center;
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
}

.card-card {
  height: 100%;
  aspect-ratio: 1/1.25;
  box-shadow: 0 0 10px 0;
  color: var(--color-gray);
  background-color: var(--color-white);
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 2rem;
  text-align: center;
  transition: 0.5s;
}
.card-banks-1row,
.card-banks-2row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 8rem;
  height: 20rem;
}

.card-card:hover {
  scale: 1.2;
}

.card-card__img img {
  height: 100%;
  width: 100%;
}

.card-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  max-width: 100%;
  margin: 0 0 4rem 0;
}

.card-card__img_tiny img {
  width: 70%;
}

.card-card__title {
  font-weight: bold;
  color: var(--color-black);
}